.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0.44rem;
  background-color: #f40;
  color: #fff;

  h2 {
    font-size: .16rem;
  }

  .edit {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: .15rem;
    height: .2rem;
    margin: auto 0;
    color: #fff;
    font-size: .14rem;
    line-height: .2rem;

    &.show {
      display: inline;
    }
  }
}